<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Custom_Brand::parent" title="Brand" module="Custom_Brand" sortOrder="100" resource="Custom_Brand::parent"/>
		<add id="Custom_Brand::brand" title="Brand Brand" module="Custom_Brand" sortOrder="20" parent="Custom_Brand::parent" action="brand/brand" resource="Custom_Brand::brand"/>

    </menu>
</config>